[perspective-api]
checkout = git clone 'git@github.com:perspective/perspective-api.git' 'perspective-api'
link = npm link ../perspective-api-tasks && npm link ../perspective-api-views && npm link ../perspective-api-jenkins && npm link ../perspective-core
install = npm install
order = 99

[perspective-api-tasks]
checkout = git clone 'git@github.com:perspective/perspective-api-tasks.git' 'perspective-api-tasks'
link = npm link ../perspective-core
install = npm install
order = 50

[perspective-api-views]
checkout = git clone 'git@github.com:perspective/perspective-api-views.git' 'perspective-api-views'
link = npm link ../perspective-core
install = npm install
order = 51

[perspective-api-jenkins]
checkout = git clone 'git@github.com:perspective/perspective-api-jenkins.git' 'perspective-api-jenkins'
link = npm link ../perspective-core
install = npm install
order = 52

[perspective-client]
checkout = git clone 'git@github.com:perspective/perspective-client.git' 'perspective-client'
link = npm link ../perspective-core
install = npm install
order = 98

[perspective-core]
checkout = git clone 'git@github.com:perspective/perspective-core.git' 'perspective-core'
install = npm install
link = npm link
order = 1

[perspective-dev]
checkout = git clone 'git@github.com:perspective/perspective-dev.git' 'perspective-dev'

[perspective-startup-scripts]
checkout = git clone 'https://github.com/perspective/perspective-startup-scripts.git' 'perspective-startup-scripts'