[perspective/perspective-api]
checkout = git clone 'git@github.com:perspective/perspective-api.git' 'perspective-api'
link = sudo npm link
order = 99

[perspective/perspective-api-tasks]
checkout = git clone 'git@github.com:perspective/perspective-api-tasks.git' 'perspective-api-tasks'
link = sudo npm link

[perspective/perspective-api-views]
checkout = git clone 'git@github.com:perspective/perspective-api-views.git' 'perspective-api-views'
link = sudo npm link

[perspective/perspective-client]
checkout = git clone 'git@github.com:perspective/perspective-client.git' 'perspective-client'

[perspective/perspective-core]
checkout = git clone 'git@github.com:perspective/perspective-core.git' 'perspective-core'
link = sudo npm link
order = 1